
@{
    ViewData["Title"] = "List";
}
<div class="layui-btn-group list-tools">
    <a class="layui-btn layui-btn-primary layui-btn-sm" href="/user/addorupdate">
        <i class="fa fa-plus"></i><span>新增</span>
    </a>
</div>

